#active {
    color: chocolate;
}

#grid {
    display: grid;
    grid-template-columns: 220px 1fr;
}

#grid #article {
    padding: 25px;
}

#grid nav {
    border-right: 1px lightslategrey solid;
    margin: 0px;
    padding: 10px;
}

#toggle {
    margin: 2px;
}

.gitstyle {
    color: burlywood;
}

.visited {
    color: rgba(5, 100, 190, 0.75);
    font-weight: bold;
}

a {
    color: rgb(75, 75, 75);
    text-decoration: none;
}

body {
    margin: 10px;
}

h1 {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px lightslategray solid;
    margin: 0px;
    padding: 10px;
}

h3 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px lightslategrey solid;
    margin: 0px;
    padding: 10px;
}

@media(max-width: 800px) {
    #grid {
        display: block;
    }
    
    #grid #article {
        padding: 25px;
    }
    
    #grid nav {
        border-right: none;
        border-bottom: 1px lightslategrey solid;
        margin: 0px;
        padding: 10px;
    }
}