/*CSS style 태그에서 #은 id값에 .은 class값 앞에 붙임. 그런데 id는 class처럼 포괄적으로 쓸 수 없고 중복되어서는 안됨.
그래서 "id > class > tag"의 순서로 컴퓨터가 인식하는 데 우선 순위가 생김.*/
/*CSS 작업은 브라우저에서 마우스 右클릭의 '검사' 옵션을 통해 해당 tag에 적용된 style 값을 확인하는 것에서 시작함.*/
#grid {
    display: grid;
    grid-template-columns: 220px 1fr;
}

#grid #article {
    padding: 25px;
}

#grid nav {
    border-right: 1px lightslategrey solid;
    /*width: 220px;*/
    margin: 0px;
    padding: 10px;
}

#active {
    color: chocolate;
}

.visited {
    color: burlywood;
}

body {
    margin: 10px;
}

a {
    color: rgb(75, 75, 75);
    text-decoration: none;
}

h1 {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px lightslategray solid;
    /*border-width: 5px;
    border-color: lightslategray;
    border-style: solid;*/
    margin: 0px;
    padding: 10px;
}

h3 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px lightslategrey solid;
    margin: 0px;
    padding: 10px;
}