#grid {
    display: grid;
    grid-template-columns: 220px 1fr;
}

#grid #article {
    padding: 25px;
    width: 900px;
}

#grid #article #contents #abouttable {
    color: rosybrown;
}

#grid #article #lv-container {
    width: 80%;
}

#grid #nav {
    border-right: 1px lightslategrey solid;
    margin: 0px;
    padding: 10px;
    background-color: ghostwhite;
}

#grid #nav a {
    color: dodgerblue;
    text-decoration: none;
}

#grid #nav li {
    border-bottom: 1px lightslategray dotted;
}

#toggle {
    margin: 2px;
}

a {
    color: chocolate;
    text-decoration: none;
}

body {
    margin: 10px;
}

h1 {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px lightslategray solid;
    margin: 0px;
    padding: 10px;
    background-color: ghostwhite;
}

h3 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px lightslategrey solid;
    margin: 0px;
    padding: 10px;
    background-color: gold;
}

@media(max-width: 1000px) {
    #grid {
        display: block;
    }
    
    #grid #article {
        padding: 25px;
    }
    
    #grid #nav {
        border-right: none;
        border-bottom: 1px lightslategrey solid;
        margin: 0px;
        padding: 10px;
    }
}